


.main-container{
    display: flex;
    /* border:2px solid rgb(76, 0, 255); */
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  
}

.patient-container{
  
    box-shadow: rgba(227, 224, 224, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius:12px;
    height: 300px;
    padding: 20px;
    width: 35%;
    min-width: 300px;
    margin-top:20px;
  
}

.composite-container{
  
    box-shadow: rgba(217, 215, 215, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius:12px;
    height: 300px;
    padding: 20px;
    min-width: 300px;
    min-width: 300px;
    width: 50%;
    margin-top:20px;
}

.gender-container{
  
    box-shadow: rgba(220, 218, 218, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius:12px;
    padding: 20px;
    width: 30%;
   height: 250px;
   min-width: 300px;
}