.nav{
    background:white;
  
}
.nav-items{
   width: 90%;
   margin: 0 auto;
   padding: 8px 0;
   display:  flex;
   gap: 10px;
   align-items: center;
}
.nav-items > p{
    font-size: 25px;
    font-weight: 500;
}